.header-section {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 24px;
  }

  @media (min-width: 1440px) {
    margin-top: 28px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 24px;
  transition: transform var(--fast-trns);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  @media (min-width: 768px) {
    display: none;
  }
}

.burger svg {
  width: 32px;
  height: 32px;
  fill: var(---accent-color);
}

.header-desktop-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 80px;
  }

  @media (min-width: 1440px) {
    gap: 400px;
  }
}

/* .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.mobile-menu.active {
  display: flex;
  align-items: center;
}

.mobile-menu .closeMenu {
  align-self: flex-end;
  cursor: pointer;
  fill: var(--bg-color);
}

.mobile-menu nav ul {
  list-style: none;
  text-align: center;
}

.mobile-menu nav ul li {
  margin: 20px 0;
  font-size: 1.25rem;
}

.mobile-menu nav ul li a {
  color: var(--bg-color);
  text-decoration: none;
} */

/* .socials,
.socials-desktop {
  display: flex;
  gap: 12px;
}

.socials li,
.socials-desktop li {
  list-style: none;
}

.socials a,
.socials-desktop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--social-border);
}

.socials a {
  border: 1px solid var(--social-border-light);
}

.socials svg,
.socials-desktop svg {
  width: 28px;
  height: 28px;
  fill: var(--bg-color);
} */

/* .desktop-nav,
.socials-desktop {
  display: none;
} */

/* @media (min-width: 768px) {
  .burger,
  .mobile-menu {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 32px;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
  }

  .desktop-nav ul {
    display: flex;
    background-color: var(--accent-color);
    border-radius: 26px;
    overflow: hidden;
    width: 233px;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1440px) {
    .desktop-nav ul {
      width: 265px;
      height: 52px;
    }

    .desktop-nav li.active {
      background-color: var(--bg-color);
      color: var(--accent-color);
      border-radius: 26px;
    }
  }

  .desktop-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--bg-color);
    cursor: pointer;
    width: 50%;
    height: 52px;
  }

  .desktop-nav li.active {
    background-color: var(--bg-color);
    color: var(--accent-color);
    border-radius: 26px;
    width: 68px;
    height: 36px;
  }

  .desktop-nav li a {
    text-decoration: none;
    color: inherit;
  }

  .socials-desktop {
    display: flex;
    gap: 12px;
  }

  .socials-desktop a svg {
    fill: var(--accent-color);
  }

  .socials-desktop a {
    border-color: var(--social-border);
  }
} */
