.home-section {
	padding: 3em;
}

.home-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 2em;
}

.home-title {
	font-size: 44px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: -0.88px;
}

#current-category-name {
	color: #24242480;
	font-family: 'DM Sans';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.48px;
}

.filters {
	display: flex;
	gap: 20px;
}

.filter-btn {
	color: #24242499;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	transition: color 0.3s ease;
}

.filter-btn:hover {
	color: var(--accent-color);
}

.filter-btn.active {
	color: #000;
}

.filter-btn.active::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
	transform: scaleX(1);
	transform-origin: left;
	animation: underlineSlide 0.5s forwards;
}

@keyframes underlineSlide {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.exercises-content {
	display: flex;
	flex-direction: column-reverse;
	gap: 32px;
}

@media (min-width: 1440px) {
	.exercises-content {
		flex-direction: row;
	}
}

.encourage-section {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

@media (min-width: 1440px) {
	.encourage-section {
		flex-direction: column;
		margin: 0;
	}
}

.encourage-img-container {
	margin-bottom: 32px;
	width: 335px;
	height: 242px;
}

@media (min-width: 768px) {
	.encourage-img-container {
		width: 288px;
		height: 258px;
	}
}

@media (min-width: 1440px) {
	.encourage-img-container {
		width: 444px;
		height: 242px;
		flex-shrink: 0;
	}
}
.encourage-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

#exercise-cards-container {
	max-width: 900px;
	margin-left: auto;
}

/* .cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 32px 15px;
	justify-content: start;
} */

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 32px 15px;
}

@media screen and (max-width: 1080px) {
	.cards-container {
		justify-content: center;
		margin: 0 auto;
	}

	.home-header {
		flex-direction: column;
		row-gap: 32px;
	}


@media screen and (max-width: 690px) {
	.search {
		display: none;
	}
}
}


.category-card {
	min-width: 290px;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.ex-card {
	width: 442px;
}

.category-card:hover {
	transform: scale(1.02);
}

.category-card-bg {
	background-size: cover;
	background-position: center;
	position: relative;
	padding-top: 66%;
	border-radius: 12px;
}

.category-card-bg::before {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(17, 17, 17, 0.5);
	z-index: 1;
	transition: background 0.3s ease;
}

.category-card-text {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.category-card-title {
	color: #f4f4f4;
	text-align: center;
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: 'DM Sans';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 100% */
}

.category-card-sub {
	color: rgba(244, 244, 244, 0.4);
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: 'DM Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 150% */
	margin: 2px 0 0;
}


.search-wrapper {
	display: flex;
	gap: 32px;
	align-items: baseline;
	position: relative;
}

@media screen and (max-width: 890px) {
	.search-wrapper{

		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
}

.search {
	position: relative;
}

.search-input {
	width: 100%;
	padding: 12px 48px 12px 20px;
	font-size: 16px;
	border: 2px solid #242424;
	border-radius: 50px;
	outline: none;
	background-color: transparent;
	color: #242424;
	transition: box-shadow 0.3s ease;
}

.search-icon {
	position: absolute;
	right: -29px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: #242424;
	pointer-events: none;
}

.star-icon use {
	fill: #eea10c;

	vertical-align: middle;
}

.star-icon use {
	width: 18px;
	height: 18px;
}

.rating-block {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.workout-badge-rating {
	color: #242424;
	padding-left: 16px;
	padding-top: 3px;
	font-size: 14px;
	line-height: 18px; /* 150% */
}

.workout-stats {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	font-size: 12px;
	margin-top: 8px;
	color: rgba(36, 36, 36, 0.4);
}

.workout-stats b {
	color: var(--accent-color);
	font-weight: 400;
}
