<div class="wrapper container">
  <div class="favorites-section-wrapper">
    <h1 class="favorites-section-title">Favorites</h1>
    <div class="quote-day-card">
      <h2 class="quote-day-card-title">Quote of the day</h2>
      <p class="quote-day-card-text"></p>
      <p class="quote-day-card-author"></p>
    </div>

    <div class="110min-card-wrapper">
      <div class="110-min-card"></div>
      <div class="110-min-image"></div>
    </div>

    <div class="workout-list-wrapper">
      <ul class="workout-list"></ul>
    </div>
  </div>
</div>
