<div class="container">
  <div class="favorites-section-wrapper">
    <h1 class="favorites-section-title">Favorites</h1>
    <div class="quote-day-card">
      <span class="quote-icon-running">
        <img
          src="../img/quote_icon_1.svg"
          width="34px"
          height="32px"
          alt="Running Icon"
        />
      </span>

      <div class="quote-day-card-content">
        <h2 class="quote-day-card-title">Quote of the day</h2>
        <p class="quote-day-card-text"></p>
        <p class="quote-day-card-author"></p>
      </div>

      <span class="quote-icon-mark">
        <img
          src="../img/qoute_icon_2.svg"
          width="20px"
          height="20px"
          alt="Quotation Mark"
        />
      </span>
    </div>

    <div class="time-card-wrapper">
      <div class="time-min-card">
        <span class="time-icon-gantel">
          <img
            src="../img/time-gantel-icon.svg"
            width="20px"
            height="20px"
            alt="Gantel"
          />
        </span>
        <p class="time-min-card-title">110 min</p>
        <p class="time-min-card-text">Daily norm of sports</p>
      </div>
      <div class="time-min-image">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/favorites/desktop_1x.png,
              ../img/favorites/desktop_2x.png
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/favorites/tablet_1x.png,
              ../img/favorites/tablet_2x.png
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/favorites/mobile_1x.png,
              ../img/favorites/mobile_2x.png
            "
          />
          <img src="../img/favorites/desktop_1x.png" alt="Girls talking" />
        </picture>
      </div>
    </div>

    <div class="workout-list-wrapper">
      <ul class="workout-list"></ul>
    </div>
  </div>
</div>
