<header>
  <a href="/" class="logo">
    <svg>
      <use href="./img/sprite.svg#your-energy"></use>
    </svg>
  </a>

  <div class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="desktop-nav">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </div>
  <ul class="socials-desktop">
    <li>
      <a href="https://www.facebook.com/goITclub" target="_blank">
        <svg>
          <use href="./img/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/goitclub" target="_blank">
        <svg>
          <use href="./img/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg>
          <use href="./img/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>

<div class="mobile-menu" id="mobileMenu">
  <div class="close" id="closeMenu">    <svg>
    <use href="./img/sprite.svg#cross"></use>
  </svg></div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </nav>
  <ul class="socials">
    <li>
      <a href="https://www.facebook.com/goITclub" target="_blank">
        <svg>
          <use href="./img/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/goitclub" target="_blank">
        <svg>
          <use href="./img/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg>
          <use href="./img/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

