<section class="exercises-section">
  <div class="exercises-header">
    <h2 class="section-title">
      Exercises <span id="current-category-name"></span>
    </h2>

    <div class="filters">
      <button class="filter-btn active" data-type="Muscles">Muscles</button>
      <button class="filter-btn" data-type="Body parts">Body parts</button>
      <button class="filter-btn" data-type="Equipment">Equipment</button>
    </div>
  </div>

  <div class="search-block">
    <input type="text" id="exercise-search" placeholder="Search..." />
  </div>

  <div class="home-body">
    <div class="quote-and-norm">
      <div class="quote">
        <!-- <svg><use href="./img/sprite.svg#running-figure"></use></svg>
        <h2 class="quote-title">Quote of the day</h2>
        <svg class="quote-icon">
          <use href="./img/sprite.svg#inverted-commas"></use>
        </svg> -->
        <div class="quote-card" id="quote-card">
          <!-- here dynemic quote -->
        </div>
      </div>

      .

      <!-- <div class="sport-norm">
        <p class="norm-title">110 min</p>
        <p class="norm-subtitle">Daily norm of sports</p>
        <p class="norm-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div> -->
    </div>
  </div>
  <div class="cards-container" id="exercise-cards-container"></div>
  <div class="pagination"></div>
</section>
