<section class="home-section">
	<div class="home-header">
		<h2 class="home-title">
			Exercises <span id="current-category-name"></span>
		</h2>

		<div class="search-wrapper">
			<div class="search hidden">
				<input
					type="text"
					id="search-input"
					placeholder="Search..."
					class="search-input"
				/>
				<span class="search-icon">
					<svg width="132" height="24">
						<use href="./img/sprite.svg#search"></use>
					</svg>
				</span>
			</div>

			<div class="filters">
				<button class="filter-btn" data-type="Muscles">Muscles</button>
				<button class="filter-btn" data-type="Body parts">Body parts</button>
				<button class="filter-btn" data-type="Equipment">Equipment</button>
			</div>
		</div>
	</div>
	<div class="exercises-content">
		<div class="encourage-section">
			<load src="partials/sharedComponents/quoteOfTheDay.html" />
			<div class="encourage-img-container">
				<img
					class="encourage-img"
					src="/img/quote_1x.png"
					srcset="/img/quote_1x.png 1x, /img/quote_2x.png 2x"
					alt="Women sportswear taking break from workout"
				/>
			</div>
			<div class="time-min-card time-card-home">
				<span class="time-home-icon-gantel">
					<img src="/img/time-home-gantel-icon.svg" alt="Gantel" />
				</span>
				<p class="time-min-card-title time-min-card-home-title">110 min</p>
				<p class="time-min-card-text time-min-card-home-text">
					Daily norm of sports
				</p>
				<p class="time-min-card-main-text">
					The World Health Organization recommends at least 150 minutes of
					moderate-intensity aerobic physical activity throughout the week for
					adults aged 18-64. However, what happens if we adjust that number to
					110 minutes every day? While it might seem like a high number to hit,
					dedicating 110 minutes daily to sporting activities may offer
					unparalleled benefits to physical health, mental well-being, and
					overall quality of life.
				</p>
			</div>
		</div>
		<div class="cards-container" id="exercise-cards-container"></div>
		<div class="pagination"></div>
	</div>
</section>
