<div class="time-card-wrapper">
  <div class="time-min-card">
    <span class="time-icon-gantel">
      <img
        src="../img/time-gantel-icon.svg"
        width="20px"
        height="20px"
        alt="Gantel"
      />
    </span>
    <p class="time-min-card-title">110 min</p>
    <p class="time-min-card-text">Daily norm of sports</p>
  </div>
  <div class="time-min-image">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ../img/favorites/desktop_1x.png,
          ../img/favorites/desktop_2x.png
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="../img/favorites/tablet_1x.png, ../img/favorites/tablet_2x.png"
      />
      <source
        media="(max-width: 767px)"
        srcset="../img/favorites/mobile_1x.png, ../img/favorites/mobile_2x.png"
      />
      <img src="../img/favorites/desktop_1x.png" alt="Girls talking" />
    </picture>
  </div>
</div>
